@import "https://fonts.googleapis.com/css2?family=Alata&family=Anton&family=Roboto:wght@300;500&display=swap";
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box; }

*::before,
*::after {
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  background-color: #ffffff;
  color: #020202;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-image: url(../img/fondo.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; }

/*---start navigation---*/
.header {
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  z-index: 3;
  /* menu icon */
  /* Fin menu icon*/
  /* menu boton */ }
  .header ul {
    list-style: none;
    overflow: hidden;
    margin: 0; }
    .header ul li a {
      display: block;
      padding: 10px 45px;
      text-decoration: none;
      color: #c7cace;
      font-size: 1.2em; }
  .header li a:hover,
  .header .menu-btn:hover {
    background-color: #c7cace;
    color: black; }
  .header .logo {
    display: block;
    float: left;
    font-size: 3em;
    color: whitesmoke;
    margin-left: 30px;
    text-decoration: none; }
  .header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out; }
  .header .menu-icon {
    cursor: pointer;
    display: block;
    float: right;
    padding: 30px;
    position: relative;
    user-select: none; }
    .header .menu-icon .navicon {
      background: #c7cace;
      display: block;
      height: 2px;
      position: relative;
      transition: 0.2s ease-out;
      width: 18px; }
      .header .menu-icon .navicon:before, .header .menu-icon .navicon:after {
        background: #c7cace;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 100%; }
      .header .menu-icon .navicon:before {
        top: 5px; }
      .header .menu-icon .navicon:after {
        top: -5px; }
  .header .menu-btn {
    display: none; }
    .header .menu-btn:checked ~ .menu {
      max-height: 240px; }
    .header .menu-btn:checked ~ .menu-icon .navicon {
      background: transparent; }
    .header .menu-btn:checked ~ .menu-icon .navicon:before {
      transform: rotate(-45deg); }
    .header .menu-btn:checked ~ .menu-icon .navicon:after {
      transform: rotate(45deg); }
    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
    .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
      top: 0; }

/*---end navigation---*/
/*---media start----*/
@media (min-width: 48em) {
  .header li {
    float: left; }

  .header li a {
    padding: 20px 30px !important; }

  .header .menu {
    clear: none;
    float: right;
    max-height: none; }

  .header .menu-icon {
    display: none; } }
img {
  max-width: 100%;
  display: block; }

h1,
h2,
h3,
p,
label {
  margin: 0; }

section {
  padding: 6em 0 3em; }

.container {
  width: 100%;
  margin: 0 auto;
  line-height: 1.6; }

.btn {
  display: inline-block;
  text-decoration: none;
  /* 0.5 * 16px =  8px top y bottom */
  /* 1.25 * 16px = 20px left y right */
  padding: 0.5em 1.25em;
  background: #FF6363;
  color: #29021c;
  /* 1.125 * 16px = 18px */
  font-size: 1.125em;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0.25em;
  transition: transform 250ms ease-in-out, opacity 250ms linear; }

.btn:hover,
.btn:focus {
  transform: scale(1.1);
  opacity: 0.8; }

/*# sourceMappingURL=style.css.map */
